<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @if(Request.IsAuthenticated)
    { 
        if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Intranet", "Index","Intranet",null, new { area="Internal"})</li>
        }
        <li>@Html.ActionLink("Personal", "Index", "Personal", null, new { area= "Personal" })</li>
        <li>@Html.ActionLink("Address", "Index", "Address", null, new { area = "Personal" })</li>
    }
</ul>

